<mat-card class="example-card mt-8">
  <mat-card-header>
    <img mat-card-avatar src="https://material.angular.io/assets/img/examples/shiba2.jpg">
    <mat-card-title>{{recipe?.title}}</mat-card-title>
    <mat-card-subtitle>{{recipe?.user?.fullName}}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image class="max-h-[400px] object-cover mb-4" [src]="recipe?.image">
  <mat-card-content>
    <p>
      {{recipe?.description}}
    </p>
  </mat-card-content>
  <mat-card-actions class="flex justify-between">
   <div>
   <!--  <button (click)="handleLikeRecipe()" mat-icon-button aria-label="Example icon button with a home icon">
      <mat-icon>favorite</mat-icon>
    </button> -->
    @if (user?._id === recipe?.user?.id) {
      
      <button (click)="handleOpenEditRecipeForm()" mat-icon-button aria-label="Example icon button with a home icon">
        <mat-icon>edit</mat-icon>
      </button>
    }
    <!-- <button mat-icon-button aria-label="Example icon button with a home icon">
      <mat-icon>share</mat-icon>
    </button> -->
   </div>
   @if (user._id === recipe?.user?.id) {
     <div>
      <button (click)="handleDeleteRecipe()" mat-icon-button aria-label="Example icon button with a home icon">
        <mat-icon>delete</mat-icon>
      </button>
     </div>
   }
   @else {
    <div>

    </div>
   }
  </mat-card-actions>
</mat-card>
